@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a,
textarea,
input,
select {
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

.yellow {
  color: #f1a01f;
}
.bold {
  font-weight: 600;
}

.Mui-selected {
  background-color: black;

  &:hover {
    background-color: black;
  }
}

.spantitle {
  position: relative;
}

.spantitle:active:after {
  content: attr(title);
  position: absolute;
  font-size: 12px;
  font-weight: normal;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
}

@font-face {
  font-family: 'Mermaid';
  src: url('/assets/fonts/Mermaid.ttf') format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'Fontastique';
  src: url('/assets/fonts/Fontastique.ttf') format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'SFProText';
  src: url('/assets/fonts/SFProTextRegular.otf') format('opentype');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'SFProText';
  src: url('/assets/fonts/SFProTextMedium.otf') format('opentype');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'SFProText';
  src: url('/assets/fonts/SFProTextBold.otf') format('opentype');
  font-weight: 600;
  font-display: swap;
}

// * {
//   outline: 1px dotted red;
// }

/* Scroll bar */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f1a01f;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f1a01f;
}
